/* App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-card {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.show-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.show-card p {
  margin: 5px 0;
}

.show-card a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.show-card a:hover {
  text-decoration: underline;
}
