.movies-container {
  display: flex; /* Use flexbox layout */
  flex-wrap: nowrap; /* Prevent wrapping to next line */
  overflow-x: auto; /* Enable horizontal scrolling if content overflows */
}

.movie {
  flex: 0 0 auto; /* Let items grow and shrink, but don't allow them to grow beyond their content */
  margin-right: 20px; /* Add margin between movies */
}

.movie img {
  width: 200px; /* Set a fixed width for movie posters */
}

.movie-info {
  text-align: center;
}

.overview {
  text-align: center;
}


/* new app.css */
/* App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  color: darkred;
}

.show-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.show-card p {
  margin: 5px 0;
}

.show-card a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.show-card a:hover {
  text-decoration: underline;
}
